.text-input {
	border: 1px solid #cacccd;
	height: 50px;
	font-size: $font-size-large;
	font-weight: 300;
	padding: $s-size;
}

.select {
	@extend .text-input;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 10px;
}

.textarea {
	@extend .text-input;
	height: 10rem;
}
